html {
  scroll-behavior: smooth;
  scroll-padding-top: 12vh;
}
@media screen and (max-width: 486px) {
  html {
    scroll-padding-top: 14vh;
  }
}
@media screen and (max-width: 355px) {
  html {
    scroll-padding-top: 21vh;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Lato", sans-serif; */
  font-family: "Aref Ruqaa", serif;
}

:root {
  --maroon: #580000;
  --lightaccent: #e1dfdc;
  --lightbeigel: #edded6;
  --darkbeigel: #a1774f;
  --orange: #cd6300;
  --purple: #613186;
  --lightpurple: #edecf8;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 9vh;
  /* background-image: url(photos/rohit-tandon-9wg5jCEPBsw-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position-y: center; */
  background: linear-gradient(
    to bottom right,
    hsl(216 73% 96% / 1),
    var(--navyblue)
  );
}
@media screen and (max-width: 355px) {
  main {
    margin-top: 9vh;
  }
}
body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
#Hero h1 {
  color: #fff;
  color: black;
  font-size: 3.2rem;
  font-weight: 800;
  text-align: center;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  /* margin-bottom: 1rem; */
  z-index: 1;
  margin-top: 4vh;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75px;
  color: var(--darkbeigel);
  /* margin: 1rem; */
  align-self: center;
  padding: 1rem 1.5rem;
  border-radius: 20px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
h3 {
  font-size: 1.25rem;
}
p {
  max-width: 75ch;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: black;
}
header {
  background-color: white;
  background-color: var(--maroon);
  /* background-color: white; */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw 0 4vw;
  min-height: 9vh;
  z-index: 999;
  /*background-color: aquamarine;*/
}
.logo {
  color: white;
  /* padding-top: 2px; */
  display: flex;
  font-size: 1.5rem;
  font-weight: 700;
  justify-content: flex-start;
  align-items: center;
  /* font-family: "Sacramento", cursive; */
  letter-spacing: 1px;
  gap: 1rem;
}
.logoimgh {
  display: flex;
}
.logoimgh > img {
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  max-width: 50%;
  gap: 5vw;
}
.nav-links li {
  display: block;
  list-style: none;
}
.nav-links a {
  color: var(--darkbeigel);
  /* color: #1f2937; */
  text-decoration: none;
  font-weight: 400;
  /* font-size:; */
}
.nav-links a:hover {
  color: var(--lightblue);
  transform: scale(2);
  transition: all;

  text-shadow: #1f2937;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  /* background-color: black; */
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .logo {
    font-size: 1.2rem;
    font-weight: 500;
    gap: 0.5rem;

    /* padding: 3px 0px; */
  }
  nav {
    padding: 0 0.5rem;
    /* padding-right: 0.5rem; */
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0;
    /* background: linear-gradient(
      to bottom right,
      var(--navyblue),
      var(--purple)
    ); */
    background-color: var(--maroon);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    justify-content: space-evenly;
    /* padding-top: 15vh; */
  }
  .nav-links a:hover {
    color: #fff;
    font-size: large;
    font-weight: 500;
    text-shadow: #1f2937;
  }
  .overlay {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s ease-out;
    opacity: 0;
    pointer-events: none;
    z-index: 6;
    position: fixed;
    top: 10vh;
  }
  .overlay-active {
    opacity: 1;
  }
  .burger {
    display: block;
  }
  .nav-active {
    transform: translateX(0%);
  }
  .toggle .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .bar2 {
    opacity: 0;
  }
  .toggle .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background: var(--darkbeigel);
  color: var(--lightbeigel);
  padding-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 25px;
  font-size: 16px;
  /* background: url(photos/footer-banner.png); */
}
.footer-banner {
  z-index: 1;
}
.row {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col {
  flex-basis: 25%;
  padding: 1rem;
  align-self: flex-start;
}
.logoimg {
  height: 150px;
  border-radius: 50%;
}
/* .logo {
    width: 80%;
    text-decoration: none;
  } */
.col h1 {
  color: white;
  padding-top: 1rem;
  width: fit-content;
  /* font-family: "Sacramento", cursive; */
  line-height: 2.5rem;
  letter-spacing: 1px;
}
.col h3 {
  color: white;
  width: fit-content;
  margin-top: 1rem;
  position: relative;
}
.location {
  width: 50%;
}
.icons {
  display: inline-flex;
  align-items: flex-end;
  color: var(--lightpurple);
}
.icons i {
  color: var(--lightpurple);
  padding-left: 1rem;
}
.icons i:hover {
  color: var(--lightblue);
}
.mid {
  background: url(/photos/Horizontal\ wedding\ banner\ with\ flowers\ peonies.png);
}

.container-c {
  width: 100%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  z-index: 1;
  /* padding: 2rem 6rem 2rem 6rem; */
}
.btn {
  font-size: 1.17rem;
  font-weight: 600;
  background: var(--darkbeige-l, #a1774f);
  color: var(--lightbeigel);
  padding: 1rem 2vw;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}
.altbtn {
  background: var(--lightbeigel, #edded6);
  color: var(--darkbeigel);
  padding: 1rem 2vw;
  border: 3px solid var(--darkbeigel);
  font-weight: 700;
  font-size: 1.2rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

#Hero {
  background-color: var(--maroon);
  color: var(--lightbeigel);
  min-height: 91vh;
  padding-bottom: 3rem;
}
#Hero h3 {
  color: var(--darkbeigel);
  margin-top: -1rem;
}
.hero-vid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  margin: 1rem 0;
}
@media screen and (width< 768px) {
  .hero-vid {
    height: auto;
    width: 100%;
    padding: 2vw;
  }
}
#Hero p {
  max-width: 50ch;
  padding-bottom: 1rem;
}
#About,
#Why,
#History,
#Gallery {
  display: flex;
  background-color: var(--lightbeigel);
  min-height: 91vh;
  gap: 10vw;
  padding: 8vw 15vw;
  flex-direction: column;
  align-items: center;
}
#About img,
#History img {
  height: 80vh;
}
img {
  align-self: center;
}
.about-us {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.why-us {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: center;
}
#Gallery {
  background-color: var(--maroon);
  padding: 8rem 6vw 8rem 6vw;
  gap: 0;
}
.slideshow-container {
  /* max-width: 350px; */
  position: relative;
  margin: auto;
  padding: 1.5rem 0;
}

.mySlides {
  display: none;
}
.mySlides img {
  /* max-width: 700px;
  width: 100%;
  min-height: auto; */
  height: 80vh;
}

img {
  /* width: 100%; */
  min-height: auto;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: none;
}
.slideshow-container a {
  font-size: 1rem;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover,
.prevrev:hover,
.nextrev:hover {
  color: black;
  background-color: white;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.history-info {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
#History .altbtn {
  margin-top: 2rem;
}
#Features {
  background-color: var(--maroon);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
}
.feature-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 70vh;
  padding: 3rem 0;
}
#Features h2 {
  color: var(--lightbeigel);
}
.ft-grid {
  display: grid;
  margin: 0rem 6vw;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(2, auto); */
  gap: 8vw;
  row-gap: 8rem;
  padding-top: 1.5rem;
}
.ft-box {
  padding: 1rem;
  background: hsl(0 100% 19% / 1);
  color: var(--darkbeigel);
}
@media screen and (width> 768px) {
  #About,
  #History {
    flex-direction: row;
  }
}
#Why {
  background-color: var(--darkbeigel);
  padding: 8vw 10vw;
  gap: 3rem;
}
#Why h2 {
  color: black;
}
.info-box {
  display: grid;
  justify-items: center;
  align-content: space-between;
}
.quality {
  padding-bottom: 1.5rem;
}
.custom {
  padding-bottom: 1.75rem;
  padding-top: 2rem;
}
.banner-info img {
  width: 100%;
}
.banner-info {
  display: flex;
  z-index: 2;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.banner-info h2 {
  color: var(--maroon);
}
@media screen and (width< 768px) {
  p {
    font-size: 0.85rem;
  }
  #About,
  #Why,
  #History,
  #Gallery {
    padding: 8vw 5vw;
  }
  .why-us {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .mySlides img {
    height: auto;
    width: 100%;
  }
  #About img,
  #History img {
    height: auto;
    width: 100%;
  }
  .ft-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  #Gallery {
    padding: 8rem 3vw 8rem 3vw;
  }
  .footer-banner {
    z-index: -1;
    position: absolute;
    top: 41%;
  }
  .banner-info h2 {
    padding: 1rem 1rem 1rem 0;
    text-align: left;
  }
}
